@keyframes draaien { /* definieer animatie */
  from {transform: rotate(0deg)}
  to   {transform: rotate(360deg)};
}
.foto-roy-right { /* koppel animatie aan box */
  animation-name: draaien; /* zet hier dezelfde naam als die je achter @keyframes gebruikt */
  animation-duration: 1s; /* doe 2 seconde over animatie */
  animation-iteration-count: 1; /* heraal oneindig keer */
  animation-timing-function: 1; /* meestal is ease mooier dan lineair, maar bij draaien niet */
}

.foto-roy-left { /* koppel animatie aan box */
  animation-name: draaien; /* zet hier dezelfde naam als die je achter @keyframes gebruikt */
  animation-duration: 1s; /* doe 2 seconde over animatie */
  animation-iteration-count: 1; /* heraal oneindig keer */
  animation-timing-function: 1; /* meestal is ease mooier dan lineair, maar bij draaien niet */
}

.fotodrink { /* koppel animatie aan box */
  animation-name: draaien; /* zet hier dezelfde naam als die je achter @keyframes gebruikt */
  animation-duration: 1s; /* doe 2 seconde over animatie */
  animation-iteration-count: 1; /* heraal oneindig keer */
  animation-timing-function: 1; /* meestal is ease mooier dan lineair, maar bij draaien niet */
}

h1 { /* koppel animatie aan box */
  animation-name: draaien; /* zet hier dezelfde naam als die je achter @keyframes gebruikt */
  animation-duration: 1s; /* doe 2 seconde over animatie */
  animation-iteration-count: 1; /* heraal oneindig keer */
  animation-timing-function: 1; /* meestal is ease mooier dan lineair, maar bij draaien niet */
}

.foto-roy-right {
width: 30%;
border: ridge 6px rgb(0, 0, 0);
float: right; 
}

.foto-roy-left {
  width: 30%;
  border: ridge 6px rgb(0, 0, 0);
  float:left;
}
.fotodrink {
      max-width: 30%;
      float:right;
}
 
 footer {
   margin: 10px 0px;
   float: center;
 }

 h1 {
   float: center;
   text-align: center;
   padding-bottom: 0%;
 }

 p {
  text-align: center;
  padding-right: 1%;
  padding-left: 1%;
 }

 /* Reset standaardmarges en paddings */
 body, ul {
     margin: 0;
     padding: 0;
     font-size: 150%;
 }
 footer {
  margin: 0%;
 }

 /* Stijl voor de gehele container */
 .container {
     display: flex;
 }

 /* Stijl voor de navigatiebalk */
 .navbar {
     background-color: rgb(89, 0, 255);
     flex: 1; /* Laat de navigatiebalk groeien en vult de beschikbare ruimte in */
     max-width: 100px; /* Stel een maximale breedte in voor de navigatiebalk */
     padding: 20px;
 }


 /* Stijl voor de lijst met namen */
 .navbar ul {
     list-style: none;
     
 }

 /* Stijl voor elk lijstitem */
 .navbar li {
     padding: 70% 0;
     text-align: center;
     font-size: 20px;
     color: rgb(255, 255, 255);
     
     
 }

 /* Stijl voor hover (wanneer de muis erover beweegt) */
 .navbar li:hover {
     background-color: rgb(89, 0, 255);
 }

 /* Stijl voor de inhoud naast de navigatiebalk */
 .content {
     flex: 2; /* Laat de tekstinhoud breder groeien */
     padding: 20px;
     padding-right: 20px
 }

.backgroundhome {
  background-color: rgb(155, 235, 255)
}